
$mid :800px;
$small : 450px;

.display {
  // margin: 30px ;
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  .singledisplay {
      margin: auto;
    padding: 2%;
    width: 25%;
    height: 420px;
    overflow: hidden;
    object-fit: cover;

    .image{
        width: 100%;
        height: 370px;
    }

    .productdetails{
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      icon{
        transition: transform 0.3s;
        width: 25px;
        height: 100%;
      }

      icon:hover {
        cursor: pointer;
        transform: scale(1.3);
      }
    }

    @media(max-width: $mid){
        width: 45%;
        height: 370px;
        
        .image{
            height: 300px;
        }
    }
  }
}

.modal{
  width: 60%;
  margin: auto;
  padding: 10px ;
  height: 50%px;
  display: flex;

  img{
      height: 300px;
      margin-right: 20px;
  }
  .modaldetails{
    font-size: small;
    p{
      font-family:monospace;
      margin: 5px 0px 20px;
    }
    ul >li{
      list-style: none;
      font-family: monospace;
    }
    button{
      position: absolute;
      bottom: 20px;
      align-items: center;
      border: black solid 1px;

      :hover:after {
        width: 0%;
        transition: width 0s ease;
      }
    }
  }

}

